@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{  font-family: 'Poppins', sans-serif;
	box-sizing:border-box;
	padding:0;
	margin:0;
}
#top{
	background:url('images/bg-hero-mobile.svg');
	position:center;
	background-size:cover;
	text-align:center;
}
#head{
	display:flex;
	justify-content:space-between;
	margin-bottom:3em;
}
#head img{
	margin:2em 0 0 1.5em;
    width:25vw;
	height:4vh;
}

#up-but{
   background-color:#fff;
   width:25vw;
   margin-top:2em;
  border-radius:30px; 
}

h1{
	color:hsl(192, 100%, 9%);
	margin:4em 1em 1.5em 1em;
}

#content-1{
	padding:0 1em 1em 1em;
	margin-bottom:2em;
}
.cta{
	border-radius:20px;
	background-color:hsl(322, 100%, 66%);
	margin-top:1.5em;
	color:#fff;
	width:250px;
	padding:0.5em 1em 0.5em 1em;
	margin-bottom:1.5em;
}

#content-1>img{
	width:100%;
	height:auto;
	margin-bottom:3em;
}

#card-1,#card-2,#card-3{
	box-shadow:2px 2px 2px hsl(208, 11%, 55%),
		      -2px -2px 2px  hsl(208, 11%, 55%) ;
	width:90vw;
	height:80vh;
	border-radius:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2em;
	text-align:center;
}


.cards img{
	width:50vw;
	height:50%;
	margin-top:2em;
}

h3{
	color: hsl(192, 100%, 9%);
	font-size:1.3rem;
	margin-top:2em;
}
.cards p{
	color:hsl(208, 11%, 55%);
    padding:1em 1.5em 1em 1.5em;
    font-size:1rem;

}
#bottom-card{
	text-align:center;
	box-shadow:2px 2px 2px hsl(208, 11%, 55%),
		      -2px -2px 2px  hsl(208, 11%, 55%) ;
	width:90%;
	padding:0.3em 1.5em 2em 1.5em;
	border-radius:20px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:2em;

}
#bottom-card button{
	border-radius:20px;
	background-color:hsl(322, 100%, 66%);
	color:#fff;
	width:30vw;
	padding:0.5em 0.5em 0.5em 0.5em;
	margin-top:1.5em;
}
footer{
	background-color:hsl(192, 100%, 9%);
	color:#fff;
	text-align:left;

}
#foot-1{
	margin:1.5em 0 1.5em 0.5em;
	padding-left: 2em;
	padding-top: 1em;
}
#foot-1 ul{
	margin-top:1em;
}

#bottom-nav ul{
	list-style:none;
}

#bottom-nav div{
	margin:2em 0 0 1em;
	font-size:1.3rem;

}
#social img{
	width:40px;
	height:auto;
	margin-bottom:2em;
	margin-right:0.5em;
}

#social{
	display:flex;
	flex-direction:row;
	justify-content:center;
}

#location{
	list-style-image:url('images/icon-location.svg');
}

#phone{
	list-style-image:url('images/icon-phone.svg');
}

#email{
	list-style-image:url('images/icon-email.svg');
}

@media (min-width: 992px){
	#top{
	background:url('images/bg-hero-desktop.svg');
	position:center;
	background-size:cover;
	text-align:center;}
   
   #head img{
	margin:2em 0 0 1.5em;
    width:20vw;
	height:4vh;}

   #content-1{
      display:flex;}

   #content-1>img{
   	width:50%;
	height:auto;
	margin-bottom:3em;}

	#card-2 img {
		float:left;
		width:40%;
		height:auto;
		margin-top:4em;
		margin-left:1em;}

  .cards h3{padding-top:10%;}
  #card-1 img,#card-3 img{
  	float:right;
  	width:40%;
    height:auto;
	margin-top:4em;
	margin-right:1em;}

 #bottom-card{width:40vw;}

 footer{display:grid;
        grid-template-columns:1fr 1fr 1fr;}

#bottom-nav{display:grid;
           grid-template-columns:1fr 1fr;}